<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div>
                    <h1 class="text-center">Login</h1>
                    <h6 class="text-center">Please enter email & password! </h6>
                    
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                            <div class="mb-3">
                              <label class="form-left">Email address</label>
                              <input type="email" placeholder="Email" class="form-control" formControlName="email" aria-describedby="emailHelp">
                              <br>
                              <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')">*Email is required</span>
                            </div>
                            <div class="mb-3">
                              <label class="form-label">Password</label>
                              <input type="password" placeholder="Password" formControlName="password" class="form-control" ><br>
                              <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">*Password is required</span>
                            </div>
                        
                            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary mb-2">Login</button>
                          </form>
                    <a style="color: #fff; margin-top: 10px;" routerLink="/signup" > New User? Click Here Sign Up! </a>
                </div>
            </div>
        </div>
    </div>
</div>